<%= form_for(@consumer) do |f| %>
  <% if @consumer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@consumer.errors.count, "error") %> prohibited this consumer from being saved:</h2>

      <ul>
      <% @consumer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :consumer_no %><br />
    <%= f.number_field :consumer_no %>
  </div>
  <div class="field">
    <%= f.label :consumer_name %><br />
    <%= f.text_field :consumer_name %>
  </div>
  <div class="field">
    <%= f.label :bill_month %><br />
    <%= f.text_field :bill_month %>
  </div>
  <div class="field">
    <%= f.label :due_date %><br />
    <%= f.date_select :due_date %>
  </div>
  <div class="field">
    <%= f.label :arrear %><br />
    <%= f.text_field :arrear %>
  </div>
  <div class="field">
    <%= f.label :last_bill_amount %><br />
    <%= f.text_field :last_bill_amount %>
  </div>
  <div class="field">
    <%= f.label :last_paid_date %><br />
    <%= f.date_select :last_paid_date %>
  </div>
  <div class="field">
    <%= f.label :current_dues %><br />
    <%= f.number_field :current_dues %>
  </div>
  <div class="field">
    <%= f.label :net_bill_amt %><br />
    <%= f.number_field :net_bill_amt %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
