<h1>Listing consumers</h1>

<table border='1'>
  <tr>
    <th>Consumer no</th>
    <th>Consumer name</th>
    <th>Bill month</th>
    <th>Due date</th>
    <th>Arrear</th>
    <th>Last bill amount</th>
    <th>Last paid date</th>
    <th>Current dues</th>
    <th>Net bill amt</th>
    <th colspan='3'>Action</th>
    
  </tr>

<% @consumers.each do |consumer| %>
  <tr>
    <td><%= consumer.consumer_no %></td>
    <td><%= consumer.consumer_name %></td>
    <td><%= consumer.bill_month %></td>
    <td><%= consumer.due_date %></td>
    <td><%= consumer.arrear %></td>
    <td><%= consumer.last_bill_amount %></td>
    <td><%= consumer.last_paid_date %></td>
    <td><%= consumer.current_dues %></td>
    <td><%= consumer.net_bill_amt %></td>
    <td><%= link_to 'Show', consumer %></td>
    <td><%= link_to 'Edit', edit_consumer_path(consumer) %></td>
    <td><%= link_to 'Destroy', consumer, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Consumer', new_consumer_path %>
